.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.boxCalculate {
  background-color: inherit;
  height: 95vh;
  width: 80%;
  border: 2px solid #16a085;
  border-radius: 6px;
  box-shadow: 4px 4px 4px;
}

.title {
  background-color: #303846;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  /* text-shadow: 3px 3px #27a085; */
}
